<!DOCTYPE html>
<html>
  <head>  
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <title>TodoApp</title>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= bootstrap_alert_class(type) %> alert-dismissible fade show">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <div class="container-fluid">        
        <%= link_to raw('<i class="fa-solid fa-list-check me-2"></i>ToDo App'), root_path, class: "navbar-brand brand-outline-primary me-2" %>
        <div class="d-flex align-items-center">
          <% if current_user %>
            
            <%= link_to "My Account", "#", class: "btn btn-outline-secondary me-2" %>
            <%= button_to "Delete Account", account_path, method: :delete, 
                      form: { data: { turbo_confirm: "Are you sure? This will delete all your data permanently!" } }, 
                      class: "btn btn-outline-danger me-2" %>
          <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-primary" %>
        <% else %>
          <%= link_to "Login", login_path, class: "btn btn-outline-primary me-2" %>
          <%= link_to "Sign Up", sign_up_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </nav>
    
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>